body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.calculator {
    width: 300px;
    padding: 40px;
    border: 2px solid #4285F4;
    border-radius: 20px;
    background-color: #cbc7c7;
    box-shadow: 0 0 10px rgba(30, 230, 16, 0.2);
}

input, select, button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #2bc04e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1A73E8;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #4285F4;
}
